@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root {
  --light: #f8f8f8;
  --dark: #292929;
  --grey25: #454545;
  --grey50: #696969;
  --grey75: #c2c2c2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--dark);
}

html {
  font-family: "Jost", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;

  & a {
    text-decoration: none;
  }

  & h1 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  & h5 {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  & p {
    font-size: 1.6rem;
  }
}

.wrapper {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 60px;
}

header {
  position: sticky;
  z-index: 9;
  top: 0;
  padding: 20px 0;
  background-color: white;
  box-shadow: 0 2px 4px #29292910;

  & .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .header-left {
    display: flex;
    align-items: center;
    height: 32px;

    & button {
      font-size: 2rem;
      display: none;
      margin-right: 12px;
      cursor: pointer;
      color: var(--grey25);
      border: none;
      background-color: transparent;
    }

    & a {
      display: inline-block;
      height: 100%;
      margin: auto 0;
    }

    & img {
      height: 100%;
      margin: auto 0;
    }
  }

  & .header-mid {
    display: flex;
    justify-content: center;

    & a {
      font-size: 1.6rem;
      font-weight: 400;
      padding: 0 32px;
      text-transform: uppercase;
      color: var(--grey25);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  & .header-right {
    & a {
      font-size: 2rem;
      margin-left: 20px;

      & i {
        color: var(--grey25);
      }
    }
  }
}

.hero {
  height: 600px;
  background-image: url("./images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .wrapper {
    display: flex;
    height: 100%;
  }

  .hero-text {
    display: inline-block;
    margin: auto 0;
  }

  & p {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 40px;
  }

  & a {
    font-size: 1.7rem;
    font-weight: 500;
    display: inline-block;
    padding: 16px 70px;
    color: var(--light);
    border: none;
    background-color: var(--dark);
    transition: background-color 0.5s;

    &:hover {
      background-color: var(--grey25);
    }
  }
}

main {
  & .wrapper {
    margin: 60px auto;
  }

  & .title {
    margin-bottom: 50px;
    text-align: center;
  }

  & .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px 40px;

    & .card {
      display: flex;
      align-items: center;
      flex-direction: column;

      & .image-wrapper {
        margin-bottom: 12px;
        border-radius: 6px;
        background-color: var(--light);
        transition: transform 0.5s;

        &:hover {
          transform: scale(103%);
        }
      }

      & img {
        width: 100%;
        height: 320px;
        object-fit: contain;
        mix-blend-mode: multiply;
      }

      & .product-name {
        transition: color 0.3s;

        &:hover {
          color: var(--grey50);
        }
      }
    }
  }
}

footer {
  background-color: var(--dark);

  & .wrapper {
    padding: 24px 0;
  }

  & div {
    font-size: 1.6rem;
    font-style: italic;
    text-align: center;
    color: var(--grey75);
  }

  & a {
    text-decoration: underline;
    color: var(--grey75);
    text-underline-offset: 4px;

    transition: color 0.5s;

    &:hover {
      text-decoration: none;
      color: var(--light);
    }
  }
}

aside {
  position: fixed;
  z-index: 10;
  left: -100vw;
  top: 0;
  overflow: hidden;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  transition:
    left 0.5s,
    opacity 0.3s;
  background-color: white;
  box-shadow: 2px 0 4px #29292910;
  opacity: 0;

  &.active {
    left: 0;
    opacity: 1;
  }

  & button {
    cursor: pointer;
    position: absolute;
    top: 24px;
    left: 24px;
    border: none;
    background-color: transparent;
  }

  & i {
    font-size: 20px;
    color: var(--grey25);
  }

  & .sidebar-nav {
    font-size: 2rem;
    display: flex;
    flex-direction: column;

    & a {
      margin: 24px 0;
      text-align: center;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 2px;
    }

    & hr {
      border: none;
      border-top: 1px var(--grey75) solid;
    }
  }
}

@media (max-width: 1024px) {
  header {
    & .header-mid {
      & a {
        padding: 0 20px;
      }
    }
  }

  .hero {
    height: 300px;

    & p {
      font-size: 3.5rem;
      margin-bottom: 20px;
    }

    & a {
      padding: 12px 40px;
    }
  }

  main {
    & .wrapper {
      margin: 50px auto 60px;
    }

    & .card-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 768px) {
  & .wrapper {
    padding: 0 20px;
  }

  .hero {
    display: none;
  }

  main {
    & .card-container {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 640px) {
  header {
    & .header-left {
      & button {
        font-size: 28px;
        display: inline;
      }
    }

    & .header-mid {
      display: none;
    }

    & .header-right {
      & a {
        margin-left: 12px;
      }
    }
  }

  main {
    & .wrapper {
      margin: 20px auto 60px;
    }

    & .title {
      margin-bottom: 20px;
    }

    & .card-container {
      grid-template-columns: 1fr;
      gap: 32px;

      & .card {
        & img {
          height: 260px;
        }
      }
    }
  }
}
